.card-container{
    display: flex;
    width: 250px;
    height: 380px;
    flex-direction: column;
    align-items: center;
    background-color: #595959;
    border-radius: 10px;
    padding: 10px;
    border: #585858 2px solid;
}

.card-container h3{
    color: #a1c97e;
    font-size: 1.5rem;
    margin: 12px 0;
}

.descricao-criatura{
    color: #d4e8c2;
    text-align: center;
    font-size: 1rem!important;
}

.mitologia-criatura{
    color: #c3d9a8;
    font-size: 1.2rem!important;
    margin-top: auto;
}


.card-imagem{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}