body, html{
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'ancient-font';
    src: url('./fonts/ancient/AncientModernTales-a7Po.ttf') format('truetype');
}

*{
    font-family: 'ancient-font';
}